* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  cursor: default;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

section {
  padding: 0 32px;
}

a {
  text-decoration: none;
  display: inline;
  cursor: pointer;
}

input {
  cursor: text;
}

button {
  cursor: pointer;
}

.text--highlight {
  color: rgb(100, 21, 255);
}

.container {
  padding: 96px 0;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1028px;
}

.section__tag {
  color: #6415ff;
  font-weight: bold;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.section__para {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  max-width: 580px;
  color: rgba(36, 62, 99, 0.792);
}

/* Nav */
.nav__row {
  display: flex;
  justify-content: space-between;
  color: rgb(36, 62, 99);
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.nav__logo--img {
  max-width: 40px;
  max-height: 40px;
}

.nav__logo--title {
  font-weight: 1000;
  margin-left: 8px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 24px;
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  color: rgb(36, 62, 99);
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  opacity: 0;
  transition: all 300ms ease;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__link--login {
  margin-left: 48px;
  margin-right: 8px;
}

.nav__link--primary {
  color: white;
  border: none;
  border-radius: 40px;
  background-color: rgb(100, 21, 255);
  padding: 12px 32px;
}

.nav__link--primary::after {
  content: "";
  width: 0;
  height: 0;
}

.nav__link--primary:hover {
  background-color: #5613da;
}

/* Header */
.header__description {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__description--title {
  font-size: 48px;
  color: rgb(36, 62, 99);
}

.header__description--para {
  margin: 32px 0;
  line-height: 24px;
  font-size: 18px;
}

.header__customers--title {
  margin-top: 60px;
  font-size: 12px;
  font-weight: bold;
  color: rgba(33, 57, 91, 0.382);
}

.header__customers {
  opacity: 0.5;
  margin-top: 12px;
  padding-right: 60px;
}

.header__img--wrapper {
  width: 60%;
  margin-left: 12px;
}

.header__img {
  width: 100%;
}

.header__email {
  display: flex;
  justify-content: flex-end;
  border: 1px solid rgba(36, 62, 99, 0.319);
  margin-left: 0;
  margin-right: 56px;
  border-radius: 500px;
  transition: all 300ms ease;
  position: relative;
}

.header__email:hover {
  border-color: rgb(36, 62, 99);
}

.header__email--input {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 500px;
  top: 0;
  bottom: 0;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 20px 192px 20px 32px;
  outline: none;
  position: absolute;
  transition: all 300ms ease;
  z-index: 1;
}

.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: #6415ff;
}

.header__email--btn {
  margin: 8px;
  padding: 4px 24px;
  font-size: 18px;
  font-weight: 525;
  height: calc(100%-8px);
  border: none;
  border-radius: 500px;
  background-color: #6415ff;
  color: white;
  transition: all 300ms ease;
  z-index: 2;
}

.header__email--btn:hover {
  cursor: pointer;
  background-color: #5613da;
}

/* FEATURES */

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature {
  width: 33%;
}

.feature__img--wrapper {
  padding: 12px;
}

.feature__img {
  border: 1px solid;
  border-radius: 100%;
  padding: 14px;
}

.feature__title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 8px;
  color: rgb(36, 62, 99);
}

.feature__para {
  color: rgba(36, 62, 99, 0.791);
  font-size: 18px;
  line-height: 1.5;
}

/* Quality */
#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#quality .section__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.25;
}

#quality .section__para {
  max-width: 40%;
  font-size: 18px;
  text-align: left;
  padding-bottom: 12px;
}

.quality__img--wrapper {
  width: 50%;
  display: flex;
  border: 1px solid rgba(36, 62, 99, 0.207);
  position: relative;
  z-index: 2;
}

.quality__img {
  width: 100%;
  z-index: 1;
  position: relative;
}

.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}

.quality__btn {
  margin-right: 8px;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 500px;
  background-color: #6415ff;
  color: white;
  transition: all 300ms ease;
}

.quality__btn:hover {
  cursor: pointer;
  background-color: #5613da;
}

/* Steps */

.steps__img--wrapper {
  display: flex;
  width: 50%;
  height: 50%;
  position: relative;
  z-index: 2;
}

.steps__img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.steps__grid {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  opacity: 0.8;
  z-index: -10;
  color: rgb(100, 21, 255);
  fill: currentColor;
}

#steps .section__title {
  font-size: 48px;
}

#steps .section__para {
  max-width: 40%;
  font-size: 18px;
  text-align: left;
  padding-bottom: 12px;
}

.steps__description {
  padding-left: 64px;
  padding-bottom: 24px;
}

.step__description {
  display: flex;
  flex-direction: column;
}

.step__number {
  padding-right: 18px;
  font-size: 36px;
  opacity: 0.25;
}

.step__row {
  display: flex;
}

.step__title {
  padding-bottom: 8px;
  font-size: 20px;
  color: rgb(36, 62, 99);
}

.step__description {
  padding-bottom: 24px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.step__para {
  color: rgba(36, 62, 99, 0.79);
}

/* Values */
.values__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#values .section__title {
  line-height: 1.2;
}

#values .section__para {
  text-align: left;
  color: rgba(36, 62, 99, 0.54);
  padding-bottom: 24px;
  padding-right: 12px;
}

.values__img--wrapper,
.values__description {
  width: 50%;
}

.values__img {
  width: 100%;
}

.value__list {
  display: flex;
  flex-direction: row;
}

.value {
  padding-top: 12px;
  padding-bottom: 18px;
}

.value__title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 12px;
  color: rgb(36, 62, 99);
}
.value:nth-child(1) .value__img--wrapper {
  background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
  background-color: #feb2b2;
}

.value__img--wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.value__name {
  margin-left: 12px;
}

.value__para {
  color: rgba(36, 62, 99, 0.582);
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 16px;
  padding-right: 16px;
}

.values__btn {
  margin-right: 8px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 400;
  width: 25%;
  border: none;
  border-radius: 500px;
  background-color: #6415ff;
  color: white;
  transition: all 300ms ease;
}

.values__btn:hover {
  background-color: #5613da;
}

/* Pricing */
#pricing .section__tag {
  text-align: center;
}

#pricing .section__title {
  text-align: center;
}

#pricing .section__para {
  text-align: center;
  padding-bottom: 24px;
  margin: 0 auto;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.plan:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan {
  border: none;
  margin: 64px;
  padding: 32px 48px;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: relative;
}

.plan__strip {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 8px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan:nth-child(1) .plan__strip,
.plan:nth-child(1) .plan__btn {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plan:nth-child(2) .plan__btn {
  color: rgb(81, 108, 228);
}

.plan:nth-child(3) .plan__strip,
.plan:nth-child(3) .plan__btn {
  color: #f7fafc;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__top {
  padding: 32px 0px;
  color: rgb(36, 62, 99);
}

.plan__middle {
  display: flex;
  flex-direction: column;
  padding: 32px 48px;
}

.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
  color: rgb(36, 62, 99);
}

.plan:nth-child(2) .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__title,
.plan__price,
.plan__type,
.plan__audience,
.plan__feature {
  text-align: center;
  padding: 4px;
}

.plan:nth-child(2) .plan__title,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__type,
.plan:nth-child(2) .plan__audience,
.plan:nth-child(2) .plan__feature {
  color: white;
}

.plan__price {
  font-weight: bold;
  font-size: 36px;
}

.plan__audience {
  font-weight: bold;
  font-size: 20px;
}

.plan__feature {
  padding: 10px;
  font-size: 18px;
}

.plan__btn {
  display: flex;
  margin: 0 auto;
  margin-top: 24px;
  border: none;
  border-radius: 24px;
  padding: 16px 48px;
  font-size: 16px;
  transition: all 300ms ease;
}

.plan:nth-child(1) .plan__btn {
  transition: all 500ms ease;
}

.plan:nth-child(1) .plan__btn:hover {
  color: rgb(60, 212, 192);
  background: white;
}

.plan:nth-child(2) .plan__btn:hover {
  color: white;
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan:nth-child(3) .plan__btn:hover {
  color: rgb(245, 101, 101);
  background: white;
}

.plan__btn:hover {
  transform: translateY(-1.5px) scale(1.02);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.plans__blob {
  z-index: -10;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
  height: 256px;
  width: 256px;
  opacity: 0.25;
}

/* Testimonials */
#testimonials .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.testimonials__img,
.testimonials__description {
  width: 50%;
}

.testimonials__description {
  display: flex;
  flex-direction: column;
  padding-left: 64px;
  color: #243e63;
}

#testimonials .section__para {
  text-align: left;
  color: rgba(36, 62, 99, 0.792);
}

.testimonial {
  margin-top: 32px;
}

.testimonial__rating {
  color: rgba(246, 173, 85);
}

.testimonial__subject {
  font-weight: 800;
  font-size: 20px;
  margin-top: 20px;
}

.testimonial__description {
  margin-top: 20px;
  margin-bottom: 32px;
  font-weight: 550;
  line-height: 1.5;
  font-size: 16px;
  color: #243e63c5;
}

.testimonial__bottom {
  display: flex;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.testimonial__img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.testimonial__author {
  margin-left: 20px;
}

.testimonial__name {
  font-size: 20px;
  font-weight: 700;
}

.testimonial__title {
  font-size: 18px;
}

.testimonial__buttons {
  display: flex;
  align-items: center;
}

.testimonial__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #edf2f7;
  border-radius: 50%;
  margin: 0 12px;
  transition: all 300ms ease;
}

.testimonial__btn svg {
  width: 16px;
  height: 16px;
  cursor: no-drop;
}

.testimonial__btn:hover {
  cursor: no-drop;
  background: #e2e7ec;
}

/* Get Started */
#start .row__narrow {
  max-width: 1280px;
  position: relative;
  overflow: hidden;
}

.start__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 96px 100px;
  background: #6415ff;
}

.start__title {
  width: 100%;
  color: white;
  font-size: 32px;
  text-align: left;
  z-index: 2;
}

.start__buttons {
  display: flex;
  justify-content: center;
  margin-left: 48px;
  width: 100%;
}

.start__btn,
.contact__btn {
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: all 300ms ease;
  border-radius: 32px;
  padding: 16px 32px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.start__btn {
  margin-right: 30px;
  border: none;
  background: rgb(243, 101, 25);
}

.contact__btn {
  background: none;
  border: 1px solid white;
}

.start__btn:hover,
.contact__btn:hover {
  transform: scale(0.95);
  box-shadow: none;
}

.start__btn:hover {
  background: rgb(222, 92, 22);
}

.contact__btn:hover {
  background: white;
  color: #6415ff;
}

.start__blob--1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20rem;
  width: 20rem;
  transform: translate(-5rem, 8rem);
  color: rgb(80 17 204);
  opacity: 0.5;
}

.start__blob--2 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20rem;
  width: 20rem;
  transform: translate(5rem, -16rem);
  color: rgb(80 17 204);
  opacity: 0.5;
}

/* Footer */

footer{
  background: #6415ff;
  padding: 72px 32px;
}

.footer__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column--head{
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer__column--link{
  color: white;
  margin-top: 12px;
  max-width: 100%;
  position: relative;
}

.footer__column--link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background:white;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__column--link:hover:after{
  opacity: 1;
}

.footer__divider{
  width: 100%;
  height: 2px;
  margin: 48px 0;
  background-color: #7432f7;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  height: 32px;
  width: 32px;
}

.footer__logo--text{
  padding-left: 16px;
  font-size: 18px;
}

.footer__logo--text,
.footer__copywright{
  color: white;
  font-weight: 700;
}

.footer__copywright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__socials {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

.footer__social--link {
  margin-left: 16px;
  padding: 8px;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease;
}

.footer__social--link:hover {
  background-color: rgba(203, 213, 224);
}

.footer__social--link svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.footer__social--link path{
  cursor: pointer;
}
